<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">CSSociety</a>
    </div>
    
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#/about" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/history">History</a></li>
            <li><a href="#/team">Team</a></li>
          </ul>
        </li>
        
        
        <li class="dropdown">
          <a href="#/programs" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Programs <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/community">Community</a></li>
            <li><a href="#">HackHolyoke</a></li>
            <li><a href="#">Conference</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#/sponsor" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sponsor <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/growth">Growth</a></li>
          </ul>
        </li>

        <li><a href="#/contact">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>